div{
    height: 100px;
    width: 100px;
    background-color: darkgray;
    border:2px solid rgb(69, 66, 61);
    display:inline-block;
}
#box1{
    position: static;
    top: 50px;
    background-color: aqua;
}
#box2{
    position: relative;
    top:20px;
     left: 20px;
     background-color: azure;
}
#box3{
    background-color: burlywood;
    position: absolute;
    top:10px;
    left: 10px;
    z-index: -5;
}
#box4{
    background-color: cadetblue;
    position: fixed;
    right: 30px; 
    top: 30px;
   
}