#first{
    height: 300px;
    width: 300px ;
    background-color: bisque;
    border: 2px solid black;
    rotate: 90deg;
    position: fixed;
    top: 30px;
    left: 30px;
    transform: scale(2);

    
}
div:active{
    background-color: palevioletred;
    transform: translate(4);

}
#second{
    height: 300px;
    width: 300px ;
    background-color: bisque;
    border: 2px solid black;
     position: fixed;
    top: 300px;
    right: 300px;
    }
#second:hover{
    transform: translateX (50px);

} 
